body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 100px;
	font-family: 'Anton', sans-serif;
	line-height: 1.1;
	font-weight: bold;
}

h2 {
	font-size: 60px;
	font-family: 'Anton', sans-serif;
	line-height: 1.2;
	font-weight: bold;
}

h3 {
	font-size: 22px;
	line-height: 1.3;
	font-family: 'Anton', sans-serif;
	font-weight: normal;
}

h4 {
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	line-height: 1.3;
	font-weight: normal;
}
